.Navbar {
  background: #fff;

  .container {
    color: $black-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon-calculator,
  .icon-percent {
    padding-top: 50px;
    font-size: 2em;
    display: flex;
    align-items: center;
  }
}
